<h1>会員一覧</h1>
<table class="table">
<thead>
<tr>
    <th>会員id</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
</tr>
</thead>

 <tbody>
<% @members.each do |member| %>
 <tr>
     <td><%= member.id %></td>
     <td><%= link_to member.name,admin_member_path(member)  %></td>
     <td><%= member.email %></td>
     <td><% if member.is_deleted == false %>
          有効会員
          <% else %>
          退会会員
         </td>
 </tr>

 </tbody>
 </table>
 <% end %>
<% end %>
