<table class="table table-hover table-inverse">
<tr>
  <th>商品合計</th>
  <td><%= (@order.bill - @order.shipping_fee).round.to_s(:delimited, delimiter: ',') %>円</td>
</tr>
<tr>
  <th>送料</th>
  <td><%= @order.shipping_fee %>円</td>
</tr>
<tr>
  <th>請求金額合計</th>
  <td><%= @order.bill.round.to_s(:delimited, delimiter: ',') %>円</td>
</tr>




<!--<p>商品合計　　　<%#= @order.bill %>円 </p>-->
<!--<p>送料　　　　　<%#= @order.shipping_fee %>円</p>-->
<!--<p>請求金額合計　<%#= @order.bill.to_i + @order.shipping_fee.to_i %>円</p>-->
