<body>
  <h1 class="text-center">ご購入ありがとうございました！</h1><br>
   <div class="text-center">
    <%= link_to "　注文履歴はこちら　", orders_path, class: "glyphicon glyphicon-folder-open btn btn-info pull-right" %>
   </div>
</body>